# デフォルトの無視ファイル
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea._Wav2AudioClip.iml
# データソースのローカルストレージがファイルを無視しました
/dataSources/
/dataSources.local.xml
# エディターベースの HTTP クライアントリクエスト
/httpRequests/
